#page-Login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#page-Login .logo-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}

#page-Login .logo-container img {
  width: 70%;
  max-width: 40rem;
  height: 70%;
  object-fit: cover;
}

#page-Login .logo-container h3 {
  width: 95%;
  max-width: 35rem;
  font: 400 2rem Roboto;
  color: var(--text-in-primary);
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

#page-Login form {
  width: 90%;
  max-width: 38rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

#page-Login fieldset {
  width: 100%;
  border: 0;
  margin-bottom: 1.6rem;
}

#page-Login .linkPassword {
  line-height: 2.4rem;
  font: 500 1.7rem Roboto;
  color: var(--text-second);
}

#page-Login .linkRegister {
  line-height: 2.4rem;
  font: 500 2rem Roboto;
  color: var(--text-primary);
}

#page-Login form button {
  width: 100%;
  height: 5rem;
  background: var(--secundary);
  color: var(--button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.8rem Roboto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin: 2rem;
}
#page-Login form button:hover {
  background: var(--secundary-dark);
}