.input-block {
  position: relative;
}

.input-block + .input-block {
  margin-top: 2rem;
}

.input-block label {
  font: 500 2rem Roboto;
}

.input-block input {
  width: 100%;
  min-width: 25rem;
  height: 5.6rem;
  margin-top: 0.7rem;
  border-radius: 0.8rem;
  background: var(--background);
  border: 1px solid var(--line-in-white);
  outline: 0;
  padding: 0 1.6rem;
  font: 400 1.8rem Roboto;
}

