#headerNav {
  width: 100vw;
}

#headerNav .container {  
  background: var(--secundary);
}

#headerNav .container .btnContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#headerNav .container .btnContent .logo {
  background: var(--primary);
  
}

#headerNav .container .btnContent img {
  width: 10rem;
  height: 100%;
  object-fit: cover;
}

#headerNav .container .btnContent i {
  padding: 2.5rem;
}